version: '3.7'

services:
  backend:
    container_name: admin_panel_backend
    restart: always
    build:
      context: .
      dockerfile: docker/python/Dockerfile
    volumes:
      - ./app:/usr/src/backend
    expose:
      - "8000"

  nginx:
    container_name: admin_panel_nginx
    restart: always
    image: nginx:1.19.2
    volumes:
      - ./app/data/static_backend:/usr/src/backend/data/static_backend
      - ./app/data/media_backend:/usr/src/backend/data/media_backend
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/site.conf:/etc/nginx/conf.d/site.conf:ro
    depends_on:
      - backend
    ports:
      - "80:80"

volumes:
  static_value:
  media_value:

