version: '3.7'

services:
  database:
    container_name: admin_panel_database
    restart: always
    image: postgres:13.0-alpine
    env_file:
      - ./env/.env
    volumes:
      - ./app/postgres_data:/var/lib/postgresql/data/
      - ./init_db:/docker-entrypoint-initdb.d
    expose:
      - 5432
    ports:
      - "5062:5432"

  backend:
    container_name: admin_panel_backend
    restart: always
    build:
      context: .
      dockerfile: docker/python/Dockerfile
    env_file:
      - ./env/.env
    volumes:
      - ./app:/usr/src/backend
    expose:
      - "8000"
    depends_on:
      - database

  nginx:
    container_name: admin_panel_nginx
    restart: always
    image: nginx:1.19.2
    volumes:
      - ./app/data/static_backend:/usr/src/backend/data/static_backend
      - ./app/data/media_backend:/usr/src/backend/data/media_backend
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./docker/nginx/configs:/etc/nginx/conf.d/:ro
    depends_on:
      - backend
    ports:
      - "80:80"

volumes:
  static_value:
  media_value:

